.signininput{
    border-radius: 4px;
    
    padding: 15px;
    width: 80%;
    margin-left: 40px;
    border: 1px solid #f1f1f1;
}
.signindetailstitle{
    margin-left: 40px;
    margin-bottom: 4px;
}

#signintittle{
    font-size: larger;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: Tahoma, 'Cambria', Georgia, Times, 'Times New Roman', serif;

}
/* body{
    background-color: darkgray;
    font-family: Tahoma, 'Cambria', Georgia, Times, 'Times New Roman', serif;
} */

#loginbutton{
    border-radius: 8px;
    width: 50%;
    margin-left: 140px;
    height: 45px;
    background-color: #00BAF2;
    margin-top: 20px;
    border: 1px solid #f1f1f1;
}
#loginbutton:active{
    background-color: #39a4d6;
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
     /* Lowering the shadow */ 
  }


#container2{
    padding: 10px;
    width: 500px;
    height: 450px;
    background-color:#FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
    margin-left: 145px;
}
#info{
    margin-left: 150px;
    color: darkgray;
}